%% -*- erlang -*-
{sub_dirs, ["apps/erlchatsrv", "apps/erlchat_client"]}.

{deps, [
        {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
		{sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
		{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}}
       ]}.
